    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #fff;
        color: #333;
    }
    .container {
        display: flex;
        max-width: 1200px;
    }
    /* Sidebar */
    .sidebar {
        width: 220px;
        background: #fafafa;
        padding: 15px;
        border-right: 1px solid #ddd;
    }
    .sidebar h3 {
        margin-bottom: 10px;
    }
    .filter-group {
        margin-bottom: 20px;
        width: 220px;
      
    }
    .filter-group label {
         /* transform: scale(1.2); */
        display: block;
        margin: 5px 0;
    }
    /* color */

    .sidebar-color {
        width: 200px;
        padding: 20px;
        border-right: 1px solid #ddd;
    }
    .sidebar-color h3 {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .color-grid {
        display: grid;
        grid-template-columns: repeat(5, 25px);
        gap: 10px;
    }
    .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #ccc;
        transition: transform 0.2s, border 0.2s;
    }
    .color:hover {
        transform: scale(1.1);
    }
    .color.active {
        border: 2px solid #000;
        transform: scale(1.15);

    }
    /* =====================Main Content================================= */
    .main {
        flex: 1;
        padding: 20px;
    }
    .banner {
        background: #f5f5f5;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
   
    /* ========================================================== products list 1, 2 ======= */

    .products {
        display: flex;
        margin-bottom: 4%;
        gap: 30px;
    }
    .product {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        background: #fff;
    }
    .product img {
        max-width: 100%;
        height: auto;
    }
    .product-name {
        margin: 10px 0 5px;
  
    }
    .price {
        color: #2c3e50;
        font-size: 16px;
    }
    .discount {
        color: #e74c3c;
        font-size: 14px;
        margin-left: 5px;
       
    }
    .tag {
        background: #e74c3c;
        color: #fff;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 3px;
        position: absolute;
        margin-top: -10px;
        margin-left: -10px;
    }
    
    /* ========================================================== products list 3======= */
   
    .product-section {
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        background: #fff;
    }
    .product-section img {
        max-width: 100%;
        height: auto;
    }
    .product-name-sec {
        margin: 10px 0 5px;
    }
/* ================================================== copon code========= */
    .leans-coatings{
    display: block;
  /* padding-top: 3%; */
  margin-bottom: 40px;
  text-align: center;
  box-sizing: border-box;

}
.coatings-text{
      font-weight: 700;
  display: block;
  font-size: 30px;
  /* line-height: 1.4; */
  position: relative;
  text-transform: capitalize;
  padding-bottom: 11px;
  color: #323232;
  font-family: 'Poppins', sans-serif;
}

.coupon-code {
    /* background: #d4a017; */
     background-color: #fd8a0f;  
    color: white;
    border: none;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

.coupon-code:hover {
    background: grey;
}