body{
    margin: 0 auto;
}
img{
    display: block;
    width: 100%;
}

    /* <!-- main imag -->  */
.main{
     position: relative;
    }
.banner-text {
    color: white;
    text-align: left;
    position: absolute;
    top: 27%;
    right: 20%;
}
.banner-text h1 {
    font-size: 28px;
    margin: 0;
}
.banner-text p {
    margin: 5px 0;
    font-size: 16px;
}

   /* ============ glasses ==================== */
       .container {
        display: flex;
        max-width: 1200px;
    }

/* Sidebar */
    .sidebar {
        width: 220px;
        background: #fafafa;
        padding: 15px;
        border-right: 1px solid #ddd;
    }
    .sidebar h3 {
        margin-bottom: 10px;
    }
    .filter-group {
        margin-bottom: 20px;
        width: 220px;
      
    }
    .filter-group label {
         /* transform: scale(1.2); */
        display: block;
        margin: 5px 0;
    }
    /* color */

    .sidebar-color {
        width: 200px;
        padding: 20px;
        border-right: 1px solid #ddd;
    }
    .sidebar-color h3 {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .color-grid {
        display: grid;
        grid-template-columns: repeat(5, 25px);
        gap: 10px;
    }
    .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #ccc;
        transition: transform 0.2s, border 0.2s;
    }
    .color:hover {
        transform: scale(1.1);
    }
    .color.active {
        border: 2px solid #000;
        transform: scale(1.15);

    }
    /* =====================Main Content================================= */
    .main {
        flex: 1;
        padding: 20px;
    }
   
    /* ========================================================== products list 1, 2 ======= */

    .products {
        /* margin-top: 3%; */
        position: relative;
        display: flex;
        margin-bottom: 6%;
        gap: 30px;
    }
    .product {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        background: #fff;
    }
    .product img {
        max-width: 100%;
        height: auto;
    }
    .product-name {
        font-size: 19px;
        margin: 10px 0 5px;
        text-align: left;
  
    }
    .product-name p{
       font-size: 12px;
  
    }
    .price {
        color: #2c3e50;
        font-size: 16px;
         text-align: left;
    }
    .discount {
        color: #e74c3c;
        font-size: 14px;
        margin-left: 5px;
       
    }
    .tag {
        
        background: #e74c3c;
        color: #fff;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 3px;
        position: absolute;
        margin-top: -10px;
        margin-left: -10px;
    }
    
    /* ========================================================== products list 3======= */
   
    .product-section {
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        background: #fff;
        /* background-color: gray; */
    }
    .product-section img {
        max-width: 100%;
        height: auto;
    }
    .product-name-sec {
        margin: 10px 0 5px;
        font-size: 23px;
    }

/* ================================ 4=============== */
.style-choose{
     background-color:  #f5f5f5;
     height: 550px;
}
.style-title{
    display: block;
  /* padding-top: 3%; */
  margin-bottom: 50px;
  text-align: center;
  box-sizing: border-box;

}
.style-text{
      font-weight: 700;
  display: block;
  font-size: 30px;
  /* line-height: 1.4; */
  position: relative;
  text-transform: capitalize;
  padding-bottom: 11px;
  color: #323232;
  font-family: 'Poppins', sans-serif;
}
.style-text::before{
    content: "";
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  background: #fd8a0f;
    background-color: rgb(253, 138, 15);
    transform: translate(20px, 0);
}

.style-text::after{
    content: "";
  left: 0;
  right: 0;
  bottom: 4px;
  height: 2px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  background: #fd8a0f;
    background-color: rgb(253, 138, 15);
  transform: translate(-20px, 0);
  border: none;
}
/* =============== 6=============== */
.coatings-text::before{
    content: "";
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  background: #fd8a0f;
    background-color: rgb(253, 138, 15);
    transform: translate(20px, 0);
}

.coatings-text::after{
    content: "";
  left: 0;
  right: 0;
  bottom: 4px;
  height: 2px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  background: #fd8a0f;
    background-color: rgb(253, 138, 15);
  transform: translate(-20px, 0);
  border: none;
}
.leans-coatings{
    margin-top: 7%;
    display: block;
  /* padding-top: 3%; */
  margin-bottom: 40px;
  text-align: center;
  box-sizing: border-box;

}
.coatings-text{
      font-weight: 700;
  display: block;
  font-size: 30px;
  /* line-height: 1.4; */
  position: relative;
  text-transform: capitalize;
  padding-bottom: 11px;
  color: #323232;
  font-family: 'Poppins', sans-serif;
}
.product-name-lens {
        margin: 10px 0 5px;
        font-size: 14px;
}
